

<header> 
<%=link_to 'Log in', user_session_path%>
</header>


<nav>

  <div class = "nav-profile">
    <div class = "profile-pic">
    <img class = "rounded" src="https://source.unsplash.com/DrVJk1EaPSc" alt="Ppic"> 
    </div>

    <div class = "profile-name">
      EJANE DOE
    </div>
  </div>

 

  <div class = "nav-following d-flex">
    <div class="following link-txt">
    <div class="nav-num"> 184</div>
      following
    </div>

    <div class = "followers link-txt">
    <div class="nav-num"> 184</div>
      followers
    </div>
  </div>

  <div class = "nav-links">
    <div><%=link_to 'Home', user_session_path, class: "link-txt"%></div>
    <div><%=link_to 'Profile', user_session_path, class: "link-txt"%></div>
    <div><%=link_to 'Log out', user_session_path, class: "link-txt"%></div>
  </div>
</nav>

# main page

<div class = "home-container">
  <div class ="home-center">
    <div class = "home-center-header">
    OPINIONS
    </div>

    <div class = "add-post-form rounded">
      <form>
      <div class = "m-3">
      ADD COMMENT
      </div>
      <div class = "m-2">
      <input type = "text">
      </div>

    </div>
    <div class = "post-list">
      0 REVIEWS
    </div>


  </div>


  <div class ="home-side">
    <div class = "home-side-header">
      WHO TO FOLLOW
    </div>

    <div class = "users-list  ">

     <div class = "user d-flex">
      <div class = "user-img-container ">
      <img class = "rounded-circle" src="https://source.unsplash.com/DrVJk1EaPSc" alt="Ppic"> 
      </div>

      <div class = "user-txt m-3 ">
        <p>Jane Doe</p>
      </div>
      </div>

      <div class = "user d-flex">
      <div class = "user-img-container ">
      <img class = "rounded-circle" src="https://source.unsplash.com/IHIgnhLvz5Q" alt="Ppic"> 
      </div>

      <div class = "user-txt m-3 ">
        <p>Jane Doe</p>
      </div>
      </div>


      <div class = "user d-flex">
      <div class = "user-img-container ">
      <img class = "rounded-circle" src="https://source.unsplash.com/2EGNqazbAMk" alt="Ppic"> 
      </div>

      <div class = "user-txt m-3 ">
        <p>Jane Doe</p>
      </div>
      </div>


    </div>

  </div>


</div>

