

<div class = "home-container">
  <div class ="home-center">
    <div class = "home-center-header">
    OPINIONS
    </div>

    <div class = "add-post-form rounded">
      <form>
      <div class = "m-3">
      ADD COMMENT
      </div>
      <div class = "m-2">
      <input type = "text">
      </div>

    </div>
    <div class = "post-list">
    <%= @count%> REVIEWS

    <%@opinions.each do |opinion| %>
      <%= opinion.text%>
      <%end%>
    </div>


  </div>


  <%= render "home_sidebar"%>


</div>

