/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Login  */
 
.alert {
    background-color: #e4d0d0;
    margin: 0;
}
.notice {
    margin: 0;
}
 .login-bg {
    width: 100%;
    height: calc(100vh - 5rem);
    background-image: url('https://source.unsplash.com/Lq6rcifGjOU');
    background-repeat: no-repeat;
    background-size: cover; 
  
    display: fixed;
    top: 0;
    bottom: 0;


}

 .login-form {
     
     color: rgb(209, 194, 194);
     background-color: rgba(0, 0, 0, 0.9);
     width: 45%;
     text-align: center;
     padding: 3.5rem;
     z-index: 2;
     margin: auto;
     font-size: 1.5rem;
 
 }

 .field {
     margin: 2rem;
 }
 .field input {
     margin-top: 0.7rem;
 }

 /* End of login */

 a{
   text-decoration: none;
 }

header {
    background-color: #4ba3e7;
  
    height: 5.59rem;
    position: fixed;
    top:0;
    right:0;
    z-index: 2;
    width: 80%;
}

 nav{
    background-color: #1c2c3d;
    width: 20%;
    position : fixed;
    left: 0;
    top:0;
    bottom:0;
    
}

.nav-profile {
    display:flex;
    align-items: center;
    margin-left: 5px;
    border-bottom: 1px solid rgb(17, 15, 15);
}

.profile-pic {
    margin: 7px 7px 10px;
    width:4.5rem;
    height: 4.5rem;
}

.profile-pic img{
    width: 100%;
    height: 100%;
}

.profile-name {
    color: #afb3b9;
    margin: 5px;
    font-size: 1rem;
}

.nav-following {
    
    justify-content: space-evenly;
    text-align: center;
    height: 4rem;
    padding: 7px;
    border-bottom: 1px solid rgb(17, 15, 15);
}


.nav-num {
    font-weight: bold;
}

.nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
}

.link-txt {
    color:#afb3b9;
    font-family:Arial, Helvetica, sans-serif
}

/* End of Nav */

/* Main */
.home-container {
    /* border: 1px solid black; */
    position: relative;
    width: 80%;
    left: 20%;
    top: 2rem;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    height: 100vh;
    background-color: #ebedf3;
}
/* 
.home-center {
  border: 1px solid grey;
  
}
*/
.home-side {
  border-left: 1px solid grey;
} 

.home-center-header, .home-side-header {
  border-bottom: 1px solid grey;
  height: 4rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
}

.add-post-form {
  border: 1px solid rgb(175, 165, 165);
  width: 94%;
  margin:1.7rem auto;
  padding: 0.5rem;
  background: #fff;
}

.add-post-form input {
    width: 100%;
}

.post-list {
    border: 1px solid rgb(175, 165, 165);
    width: 94%;
    margin:1.7rem auto;
    padding: 0.5rem;
    background: #fff;
}

.users-list {
   
    padding: 2rem;
}

.user {
    align-items: baseline;
}

.user-img-container {
    width: 2.7rem;
    height: 2.7rem;
    
}

.user-img-container img {
    width: 100%;
    height:100%;
}