// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* Main */
.home-container {
    /* border: 1px solid black; */
    position: relative;
    width: 80%;
    left: 20%;
    top: 2rem;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    height: 100vh;
    background-color: #ebedf3;
}
/* 
.home-center {
  border: 1px solid grey;
  
}
*/
.home-side {
  border-left: 1px solid grey;
} 

.home-center-header, .home-side-header {
  border-bottom: 1px solid grey;
  height: 4rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
}

.add-post-form {
  border: 1px solid rgb(175, 165, 165);
  width: 94%;
  margin:1.7rem auto;
  padding: 0.5rem;
  background: #fff;
}

.add-post-form input {
    width: 100%;
}

.post-list {
    border: 1px solid rgb(175, 165, 165);
    width: 94%;
    margin:1.7rem auto;
    padding: 0.5rem;
    background: #fff;
}

.users-list {
   
    padding: 2rem;
}

.user {
    align-items: baseline;
}

.user-img-container {
    width: 2.7rem;
    height: 2.7rem;
    
}

.user-img-container img {
    width: 100%;
    height:100%;
}

// .post-details {
//   f
// }

.post-image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.post-image img {
  width: 100%;
  height: 100%;
}

.post-txt {
  margin-top: 0.5rem;
} 

.post-txt p{
  line-height: 0.7rem;
}

.emt-str {
  color: blue;
}