// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-banner {
    width: 100%;
    height: 20rem;
    background: rgb(88, 75, 75); 
}

.banner-pic {
    height: 100%;
    width: 100%;
}

.edit-btn {
    position: relative;
    bottom: 40px;
    left: 15px;
}

.edit-pen {
    color: rgb(65, 59, 59);
    font-size: 1.4rem;
}

.user-profile {
    width: 100%;
    height: 15rem;
    padding-top: 1.3rem;
    align-items: center;
    
}

.profile-photo {
   
    width: 5rem;
    height: 5rem;
    margin: 2rem 2rem 1rem;
    margin: 2rem auto 1rem; 
}
.profile-photo img {
    width: 100%;
    height: 100%; 
}

.profile-text {
    font-size: 1rem;
    font-weight: bold;
    width: 150%;
    padding-top: 7px;
}

.user-stats {
    
    height: 5rem;
    text-align: center;
}

.stat {
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(214, 202, 202)
}

.stat-num {
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
}

.edit-page {
    width: 80%;
    position: relative;
    left: 20%;
    border: 1px solid black;
}
